.github/**
.vscode/**
.vscode-test/**
node_modules/**
src/**/*.test.js
test/**
.gitignore
.nvmrc
.git/**
images/**
.yarnrc
jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*
pnpm-lock.yaml
pnpm-workspace.yaml
.release-please-manifest.json
release-please-config.json
